@import "tailwindcss";

:root {
  --venetian-lace: #f7edda;
  --macadamia-beige: #f7dfba;
  --pumpkin-vapor: #ffa74f;
  --fiery-glow: #f0531c;
  --norfolk-green: #2e4b3c;
  --fence-green: #09332c;

  /* --background: #ffffff;
  --foreground: #171717; */
  --background: var(--norfolk-green);
  --foreground: var(--venetian-lace);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --background: var(--norfolk-green);
    --foreground: var(--venetian-lace);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  :root {
    print-color-adjust: exact !important;
  }
  @page {
    margin: 0;
  }
}
