@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --venetian-lace: oklch(0.9489 0.0273 83.54); /* #f7edda; */
  --macadamia-beige: oklch(0.914 0.0552 78.61); /* #f7dfba; */
  --pumpkin-vapor: oklch(0.8001 0.145473 62.8519); /* #ffa74f; */
  --fiery-glow: oklch(0.6504 0.2024 37.43); /* #f0531c; */
  --norfolk-green: oklch(0.3848 0.0435 160.88); /* #2e4b3c; */
  --fence-green: oklch(0.2907 0.0468 179.28); /* #09332c; */

  --background: var(--venetian-lace);
  --foreground: var(--fence-green);
  --card: var(--macadamia-beige);
  --card-foreground: var(--norfolk-green);
  --primary: var(--norfolk-green);
  --primary-foreground: var(--pumpkin-vapor);
  --secondary: var(--fence-green);
  --secondary-foreground: var(--pumpkin-vapor);
  --accent: var(--fiery-glow);
  --accent-foreground: var(--venetian-lace);
  --accent-light: var(--pumpkin-vapor);
  --accent-light-foreground: var(--norfolk-green);
  --radius: 0.625rem;

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--pumpkin-vapor);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-roboto-condensed);

  /* palette standalone */
  --color-venetian-lace: var(--venetian-lace);
  --color-macadamia-beige: var(--macadamia-beige);
  --color-pumpkin-vapor: var(--pumpkin-vapor);
  --color-fiery-glow: var(--fiery-glow);
  --color-norfolk-green: var(--norfolk-green);
  --color-fence-green: var(--fence-green);

  /* theme vars */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-light: var(--accent-light);
  --color-accent-light-foreground: var(--accent-light-foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  margin: 0;
  padding: 0;
}

@media print {
  :root {
    print-color-adjust: exact !important;
  }
  @page {
    size: A4;
    margin: 0;
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
